html
	form(action="/loading",method="post")
		input(type="radio", value="male",name="gender") Male
		input(type="radio", value="female",name="gender") Female
		br
		input(type="text", name="codename")
		input(type="submit", name="Submit")